[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
scikit-learn = "*"
fastapi = "*"
pandas = "*"
uvicorn = "*"

[dev-packages]

[requires]
python_version = "3.9"
python_full_version = "3.9.13"
